* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.head_strip {
  background-color: #eeee;
  padding: 3px;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.navbar li {
  list-style-type: none;
  font-size: 30px;
  cursor: pointer;
  color: #5193779e;
}
.navbar li:hover {
  color: #59b87d;
}
.navbar ul {
  display: flex;
  width: 500px;
  justify-content: space-around;
  margin-top: 10px;
}

.logo i {
  font-size: 60px;
  color: #59b87d;
}

.cartbtn {
  margin-top: 15px;
  font-size: 32px;
  color: #0072af;
  position: relative;
  cursor: pointer;
}
.cartbtn span {
  position: absolute;
  font-size: 13px;
  /* background-color: #0072af; */
  color: #fff;
  padding: 7px;
  border-radius: 25px;
  text-align: center;
  top: -3px;
  left: 6px;
  z-index: 1;
  font-weight: bolder;
}
.product_gallary {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;

}
.product-card {
  max-width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
  text-align: center;
}

.product-card img {
  width: 280px;
  height: 200px;
  object-fit: cover;
  transition: all 2s;
}

.product-details {
  padding: 20px;
}

.product-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.product-price {
  color: #007bff;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.add-to-cart-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
  background-color: #0056b3;
}

.deactive {
  display: none;
}

.active {
  display: block;
  background-color: #9c7a7ad3;
  width: 300px;
  height: 350px;
  /* position: absolute; */
  /* z-index: -1; */
  animation-name: satish;
  animation-duration: 1s;

  transition: 5 ease-in-out;
  /* z-index: 5; */
}

.cart {
  position: fixed;
  top: 65px;
  right: 20px;
  width: 220px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: none;
  overflow-y: auto;
  height: 100vh;
  transition: all 0.5s ease-in;
  
}
.cart_Product button {
  display: none;
}
.cart_Product img {
  width: 200px;
  height: 100px;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(43, 37, 37);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(59, 45, 45);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4b3ae0cb;
}
.clon1{
  position: relative;
}
.anim {
  position: absolute;
  top: 66px;
  /* left: 391px; */
  opacity: 0.8;
  transition: all 0.5s ease-in; 
  animation: formto 1.5s ease-in; }



@keyframes formto {
  0% {
    /* top: 65px; */
    left: 391px;
  
  }
  100% {
    /* top: -40px; */
    left: 1540px;
    opacity: 0;
    
  }
}
